html{
font-size:16px;
font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
}

header{
    margin: auto;
}

.header{
    display: flex;
}

.logofalc {
    display: block;
    padding: 10px 10px 10px 10px;
    margin-left:auto;
    height: 50px;
    width: 50px;
}

.logotitle{
    margin:20px 0 20px 20px;
}


nav{
    font-size:20px;
    margin-bottom: 20px;
    padding-right: 109px;
}
ul{
    display: flex;
    justify-content:end;
    list-style:none;
    padding: 0;
}

li{
    margin: 0 40px;
}


.hero{
    display:block;
    width: 100%;
}

main{
    width:1200px;
    margin: auto;
}
.disclaimer{
    display:block;
    font-size: 25px;
    line-height: 2;
    margin:150px auto;
    width: 1200px;
}


p,h1{
    margin:0;
}