html{
}

.header_background{
    display: flex;
    background-color: radial-gradient(circle, #0a1396, #FFF, #A0ADFF, #565FAA, #0F0F4E);;
}
header{
    display: flex;
    width: 1200px;
    background-color: #0a1396   ;
    margin: auto;
    box-shadow: 2px 22px 48px 17px #b7b7b7;
    border-radius: 86px;
}


.logofalc {
    margin: 0;
    display: block;
    
}

.titreheader{
    align-self: center;
    padding-left: 100px;
    color: white;
    line-height: 2;
    font-family: Verdana;
    font-size: 25px;
}


body{
    margin: 0;
}

