html{
background-color: #acc7dc;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

body{
    margin: 0;
}

header{
    display: flex;
    background-color: #acc7dc;
    box-shadow: 0px -9px 10px 10px white;
}


.logofalc {
    margin: 10px 0 10px 10px;
    display: block;
}

.titreheader{
    align-self: center;
    padding-left: 100px;
    color: white;
    line-height: 2;
    font-family: Verdana;
    font-size: 25px;
}

.subtitreheader{
    align-self: center;
    padding-left: 100px;
    color: white;
    line-height: 2;
    font-family: Verdana;
    font-size: 25px;
}

main{
    background-color: white;
    width: 1200px;
    height: 500vh;
    margin: 50px auto;

}

p,h1{
    margin:0;
}